.gallery {
  margin-bottom: 100px;
}
.gallery__title {
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.05;
  margin: 0;
  margin-bottom: 15px;
}
.gallery__text {
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 42px;
}
.gallery__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 1168px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.gallery__item {
  position: relative;
  max-width: 576px;
  width: 100%;
}

.gallery__img {
  overflow: hidden;
}
.gallery__container {
  position: absolute;
  max-width: 516px;
  width: 100%;
  bottom: 0;
  margin: 30px;
}
.gallery__img-title {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42px;
  margin: 0;
  margin-bottom: 10px;
}
.gallery__img-text {
  color: #c0c0c0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  margin: 0;
  margin-bottom: 16px;
}
.gallery__button {
  max-width: 143px;
  width: 100%;
  background-color: #fff;
  border-radius: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  &:hover {
    background: #c0c0c0;
  }
}
.button__item {
  background-color: #000;
  width: 32px;
  height: 32px;
  border-radius: 14px;
  margin: 5px;
}
.gallery__button:hover .button__item {
  background-color: #fff;
}
.button__text {
  color: #000;
  letter-spacing: 0.4px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.333;
}

@include _media-mobile {
  .gallery {
    margin-bottom: 0;
  }
  .gallery__container {
    padding: 0 15px 0 15px;
    margin-left: 0;
  }
  .gallery__img-text,
  .gallery__img-title {
    text-align: center;
  }
  .gallery__button {
    margin: 0 auto;
  }
  .gallery__items {
    gap: 0;
  }
}
